<h2>
<% if flash.has?(:message) %>
 <%= flash[:message] %>
<% end %>
</h2>

<h2><%=@song.name%></h2>
<br></br>

<h3>Artist:</h3>

<br></br>
  <li>
    <a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name %> </a>
  </li>

<br></br>

<h3>Genres:</h3>

<br></br>

<%@song.genres.each do |genre|%>
  <li>
    <a href="/genres/<%=genre.slug%>"> <%= genre.name %> </a>
  </li>
<% end %>

<br></br>
